/* The below code connects Tailwind CSS to our project */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer.footer {
    margin-top: auto;
}